<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style="width: 800px; margin: 0; padding: 0; font-family: Arial;">
        <div>
            <img src="/public/img/pdf-header.jpg" style="width: 100%;margin: 0; padding: 0" alt="">
        </div>
        <div
        style="background-image: url(/public/img/pdf-body.jpg); background-size: 100%; margin-top: -4px;"
        >

        <div style="width: 80%; margin: 0 auto; padding: 15px; border-radius: 20px;">
            <h1>Cálculo construcción en seco</h1>

            <table style="width: 100%; text-align: left; margin-top: 10px;">
                <tr>
                    <th style="width: 33%;">Cliente</th>
                    <th style="width: 33%;">Documento</th>
                    <th style="width: 33%;">Email</th>
                </tr>
                <tr>
                    <td>NomCliente</td>
                    <td>123</td>
                    <td>NomCliente</td>
                </tr>

                <tr>
                    <th>Celular</th>
                    <th>Nombre del proyecto</th>
                    <th>Tipo de proyecto</th>
                </tr>
                <tr>
                    <td>123</td>
                    <td>NomCliente</td>
                    <td>NomCliente</td>
                </tr>

            </table>

            <hr style="border: 0; background-color: black; height: 1px;">

            <table style="width: 100%; text-align: left; margin-top: 10px;">
                <tr>
                    <th style="width: 33%;">Tipo</th>
                    <th style="width: 33%;">Desperdicio</th>
                    <th style="width: 33%;">Metros cuadrados</th>
                </tr>
                <tr>
                    <td>Info</td>
                    <td>Info</td>
                    <td>Info</td>
                </tr>
            
            </table>

            
            <table style="width: 100%; text-align: left; border:1px solid black; margin-top: 20px;">
                <tr >
                    <th style="border-bottom:1px solid black; border-right:1px solid black;">Material</th>
                    <th style="border-bottom:1px solid black; border-right:1px solid black;">Unidad de medida</th>
                    <th style="border-bottom:1px solid black; border-right:1px solid black;">Cantidad</th>
                    <th style="border-bottom:1px solid black;">Precio por unidad</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </table>


            
            <div style="text-align: left; margin-top: 50px;">
                <h4>Notas:</h4>
                <div style="margin-bottom: 15px;">
                    Estas cantidades son aproximadas y no se deben de considerar como
                    definitivas, ya que se deberán de revisar por los responsables de
                    los trabajos.
                </div>
                <div style="margin-bottom: 15px;">
                    Solo se indican las cantidades a utilizar, más no así el tipo de
                    anclaje.
                </div>
                <div style="margin-bottom: 15px;">
                    No se consideran refuerzos, esquinas ni huecos para ventanas.
                </div>
                <div style="margin-bottom: 15px;">
                    En esta explosión de insumos solo se indican las cantidades de
                    perfiles metálicos más no así su dimensión.
                </div>
            </div>
        </div>

        </div>
        <div style=" margin-top: -4px">
            <img src="/public/img/pdf-footer.jpg" style="width: 100%;" alt="">
        </div>
    </div>
    
</body>
</html>