@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.otf') format('otf');
  /* Ruta y formato de la fuente bold */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-MediumItalic.otf') format('otf');
  /* Ruta y formato de la fuente italic */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-BoldItalic.otf') format('otf');
  /* Ruta y formato de la fuente bold e italic */
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Caveat';
  src: url('/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}


#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

main {
  background-image: url(/img/bg-left.jpg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 40%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

label{
  text-align:left;
}