@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media (min-width: 1000px) {
  .container-small {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .container-medium {
    max-width: 1000px;
  }
}

.title-radio {
  font-weight: bold;
  background-color: #ECECEE;
  padding: 0.5rem;
  text-align: left;
  border-radius: 4px;
}


.menu-result {
  /* max-width: 600px !important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); */

}


.result-info {
  display: grid;
  justify-content: space-between;
}

.bg-right {
  background-image: url(/img/bg-right.png);
  background-position: top left;
}

.bg-left {
  height: 100vh;
}

.card-cont, .title-cont {
  max-width: 900px;
}

.card-result {
  max-width: 900px;
}

.title-cont {
  position: fixed;
}

.title-cont h2, .title-cont h3 {
  line-height: 52px;
}

.title-cont h3 {
  color: #ffcf00;
  font-size: 50px;
}

@media (max-width: 1024px) {

  .title-cont h3 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {

  .bg-left {
    height: auto;
    display: flex;
    justify-content: center;
  }

  .title-cont {
    position: relative;
  }
}

.cont-logo {
  width: 200px;
  background-color: white;
  margin-left: 50px;
  height: 92px;
  padding: 15px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.title-f3 {
  font-family: 'Caveat', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.materiales {
  width: 100%;
  min-height: 100px;
  background-color: #F4F4F5;
}