@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1000px) {
  .container-small {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .container-medium {
    max-width: 1000px;
  }
}

.title-radio {
  font-weight: bold;
  background-color: #ECECEE;
  padding: 0.5rem;
  text-align: left;
  border-radius: 4px;
}


.menu-result {
  max-width: 600px !important;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.materiales {
  width: 100%;
  min-height: 100px;
  background-color: #F4F4F5;
}